@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="revealView" style="height:800px">

</div>

@section Scripts
    {
    <script type="text/javascript">
        var revealView = new $.ig.RevealView("#revealView");

    </script>
}