@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="revealView" style="height:800px">

</div>

@section Scripts
    {
    <script type="text/javascript">
        var dashboardId = "Marketing";
        $.ig.RevealUtility.loadDashboard(dashboardId, function (dashboard) {
            var revealView = new $.ig.RevealView("#revealView");
            revealView.dashboard = dashboard;
        }, function (error) { console.log(error); })

    </script>
}