@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="revealView" style="height:800px">

</div>

@section Scripts
    {
    <script type="text/javascript">

        var loadDashboard = function ()  {
            var dashboardId = "Sales";
            $.ig.RevealUtility.loadDashboard(dashboardId, function (dashboard) {
                var revealView = new $.ig.RevealView("#revealView");
                revealView.dashboard = dashboard;
            }, function (error) { console.log(error)})
        }

        window.RobotoFontsLoader.Load().then(() =>
        {
            loadDashboard();
            getData("/Json/GetData", (data) => { window.alert(data) }, (e) => { window.alert(e) });
        }).catch((e) =>
        {
            console.warn("Roboto fonts failed loading: " + e)
            loadDashboard();
        });

        function getData(controller, successCallback, errorCallback) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        var result = this.response;
                        successCallback(result);
                    }
                    else {
                        errorCallback(this.status);
                    }
                }
            };
            xhttp.open("GET", window.location.origin + controller, true);

            xhttp.send();
        }

    </script>
}