@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="revealView" style="height:800px">

</div>

@section Scripts
    {
    <script type="text/javascript">

        var loadDashboard = function () {
            var dashboardId = "Sales";
            $.ig.RevealUtility.loadDashboard(dashboardId, function (dashboard) {
                var revealView = new $.ig.RevealView("#revealView");
                revealView.dashboard = dashboard;

                revealView.showExportImage = false;
                revealView.showExportToExcel = false;
                revealView.showExportToPDF = false;
                revealView.showExportToPowerpoint = false;

            }, function (error) { console.log(error) })
        }

        window.RobotoFontsLoader.Load().then(() => {
            loadDashboard();
        }).catch((e) =>
        {
            console.warn("Roboto fonts failed loading: " + e)
            loadDashboard();
        });


    </script>
}